{
  "parser": "babel-eslint",
  "extends": "react-app",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "globalReturn": true,
      "modules": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-undef": "off",
    "no-restricted-globals": "off",
    "no-useless-concat": "off",
    "no-sparse-arrays": "off",
    "no-useless-escape": "off",
    "no-redeclare": "off",
    "no-unused-vars": 0
  }
}